# Dependencies
node_modules/
**/node_modules/

# Production & Build outputs
dist/
**/dist/
build/
**/build/

# Expo & Mobile artifacts
.expo/
**/.expo/
*.apk
*.aab
*.ipa

# Environment & Keys
.env
.env*
**/.env
**/.env*
*.env
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
